<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Имя<br />
  <%= f.text_field :name %></div>

  <div>Фамилия<br />
  <%= f.text_field :surname %></div>

  <div>Email<br />
  <%= f.email_field :email %></div>

  <div>Пароль (минимум 6 символов)<br />
  <%= f.password_field :password %></div>

  <div>Повторите введённый пароль<br />
  <%= f.password_field :password_confirmation %></div>

  <div>Страна<br />
  <%= f.text_field :country %></div>

  <div>Город<br />
  <%= f.text_field :city %></div>

    <div>Телефон<br />
  <%= f.text_field :phone %></div>

    <div>О себе<br />
  <%= f.text_field :about %></div>
  
      <div>Фотография<br />
  <%= f.file_field :avatar %></div>
  
  <div><%= f.submit "Регистрация" %></div>
<% end %>

<% render "devise/shared/links" %>
