<style type="text/css">
td{
	background: #4169E1;
}
</style>
<center><span style="color: #4169E1;">
добавить замену на сегодня
</span></center>

<%= form_for Data2.new do |f| %>
<table>
<tr>
<td><%= f.label "Выберите аудиторию" %></td>
<td><%= f.select(:audience_id, @allAudience.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите аудиторию'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите день недели" %></td>
<td><%= f.select(:day_id, @allDay.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите день недели'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите группу" %></td>
<td><%= f.select(:group_id, @allGroup.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите группу'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите предмет" %></td>
<td><%= f.select(:lesson_id, @allLesson.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите предмет'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите преподователя" %></td>
<td><%= f.select(:lecture_id, @allLecturer.collect {|p| [p.name, p.id]}, 
            {:prompt => 'Выберите преподователя'}) %></td>
</tr>
<tr>
<td><%= f.label "Номер пары" %></td>
<td><%= f.select(:number_lesson, (1..@maxLessons.count), 
            {:prompt => 'Номер пары'}) %></td>
</tr>
<tr>
<td></td><td><%= f.submit 'Записать значение' %></td>
</tr>
</table>
<% end %>
