<%= will_paginate  %>
<table border='1' width='100%' bgcolor="#E6E6FA">
<tr  height='20'>
    
    <td>Пользователь</td>
    <td>Тип пользователя</td>
    <td>Дата регистрации</td>
    <td>Роль безопасности</td>
   
  </tr>
<% @users.each do |n| %>

  <tr  height='20'>
    
    <td><%=link_to n.surname+' '+n.name, :action => "show", :id => n.id%></td>
    
    <td>
    <% if  n.userable_type == "Student" %>
      Студент 
    <% elsif n.userable_type == "Teacher" %>
      Учитель
    <% else %>
      Гость
    <% end %>
    </td>
    <td><%= n.created_at %></td>
    <td>
     <%= n.role.name %>
    </td>

  </tr>

<br>
<% end %>
</table> 
<%= will_paginate %>