<style type="text/css">
  td{
  	padding: 5px;
  }

  #BGC{

  }

  #BGA{
    border: solid 2px black; 
  }
</style>

<% if user_signed_in? %>
<%= link_to 'Добавить пару', new_schedule_path %>
<%end%>

<table border="1">
<tr>
<td></td>
<td></td>
<% @allGroup.each do |group| %>
<td><%= group.title %></td>
<% end %>
</tr>

<% @allDay.each do |day| %>

<tr>
  <td rowspan=<%= @maxLessons.count %>><%= day.title %></td>
  <% (1..@maxLessons.count).each do |i| %> 
  <% if i==1 %>
      <td>1</td>
      <% @allGroup.each do |group| %>
      <td>
        <% @data1 = Data1.where(:group_id => [group.id], :day_id => [day.id], 
        :number_lesson => [i]) %>
        <% @data1.each do |d| %>
          <% @audience = Audience.where(:id => [d.audience_id]) %>
          <% @lesson = Lesson.where(:id => [d.lesson_id]) %>
          <% @lecturer = Lecturer.where(:id => [d.lecturer_id]) %>
          
          <%= link_to 'Удалить', 
            { :action => :destroy, :controller=>"data1s", 
              :id => d.id }, 
              :method => :delete, :confirm => 'Вы уверены?' %>

          <% @lesson.each do |l| %>
            <div id="BGC"><%= l.title %></div><br/>
          <% end %>

          <% @lecturer.each do |q| %>
            <div id="BGC"><%= q.name %></div><br/>
          <% end %>

          <% @audience.each do |f| %>
            <div id="BGC"><%= f.title %></div><br/>
            <div id="BGA"></div>
          <% end %>

        <% end %>
      </td>
      <% end %>
  </tr>
  <% else %>
    <tr>
      <td><%= i %></td>
      <% @allGroup.each do |group| %>
      <td>
        <% @data1 = Data1.where(:group_id => [group.id], :day_id => [day.id], 
        :number_lesson => [i]) %>
        <% @data1.each do |d| %>
          <% @audience = Audience.where(:id => [d.audience_id]) %>
          <% @lesson = Lesson.where(:id => [d.lesson_id]) %>
          <% @lecturer = Lecturer.where(:id => [d.lecturer_id]) %>
          
          <%= link_to 'Удалить', 
            { :action => :destroy, :controller=>"data1s", 
              :id => d.id }, 
              :method => :delete, :confirm => 'Вы уверены?' %>

          <% @lesson.each_with_index do |l, index| %>
            <div id="BGC"><%= l.title %></div><br/>
          <% end %>

          <% @lecturer.each do |q| %>
            <div id="BGC"><%= q.name %></div><br/>
          <% end %>

          <% @audience.each do |f| %>
            <div id="BGC"><%= f.title %></div><br/>
            <div id="BGA"></div>
          <% end %>

        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
  <% end %>

<% end %>

</table>


