<style type="text/css">
td{
	background: #4169E1;
}
</style>
<center><span style="color: #4169E1;">
Добавить пару
</span></center>
<%= form_for Data1.new do |f| %>
<table>
<tr>
<td><%= f.label "Выберите аудиторию" %></td>
<td><%= f.select(:audience_id, @allAudience.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите аудиторию'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите день недели" %></td>
<td><%= f.select(:day_id, @allDay.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите день недели'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите группу" %></td>
<td><%= f.select(:group_id, @allGroup.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите группу'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите предмет" %></td>
<td><%= f.select(:lesson_id, @allLesson.collect {|p| [p.title, p.id]}, 
            {:prompt => 'Выберите предмет'}) %></td>
</tr>
<tr>
<td><%= f.label "Выберите преподователя" %></td>
<td><%= f.select(:lecturer_id, @allLecturer.collect {|p| [p.name, p.id]}, 
            {:prompt => 'Выберите преподователя'}) %></td>
</tr>
<tr>
<td><%= f.label "Номер пары" %></td>
<td><%= f.select(:number_lesson, (1..@maxLessons.count), 
            {:prompt => 'Номер пары'}) %></td>
</tr>
<tr>
<td></td><td><%= f.submit 'Записать значение' %></td>
</tr>
</table>
<% end %>




<br/><br/>

<%= form_for CountLesson.new do |f| %>
<%= f.label "Введите максимальное количество пар" %>
<%= f.text_field :count %>
<%= f.submit 'Записать значение' %>
<% end %>
<br/>
<span style="color: #4169E1;">Текущее количество максимальных пар: <%= @maxLessons.count %></span>
<br/><br/>
<%= form_for Audience.new do |f| %>
<%= f.label "Добавить номер аудитории" %>
<%= f.text_field :title %>
<%= f.submit 'Записать значение' %>
<% end %>
<br/><br/>
<span style="color: #4169E1;">Список текущих аудиторий</span>
<pre style="height: 200px; width: 100%; overflow: auto; border: solid 1px black;">
<% @allAudience.each do |n| %>
<br/>
<%= n.title %>
<%= link_to 'Удалить', 
{ :action => :destroy, :controller=>"audiences", 
  :id => n.id }, :method => :delete, :confirm => 'Вы уверены?' %>
<% end %>
</pre>
<br/><br/>
<%= form_for Day.new do |f| %>
<%= f.label "Добавить день недели" %>
<%= f.text_field :title %>
<%= f.submit 'Записать значение' %>
<% end %>
<br/><br/>
<span style="color: #4169E1;">Список текущих дней обучения</span>
<pre style="height: 200px; width: 100%; overflow: auto; border: solid 1px black;">
<% @allDay.each do |n| %>
<br/>
<%= n.title %>
<%= link_to 'Удалить', 
{ :action => :destroy, :controller=>"days", 
  :id => n.id }, :method => :delete, :confirm => 'Вы уверены?' %>
<% end %>
</pre>
<br/><br/>
<%= form_for Group.new do |f| %>
<%= f.label "Добавить группу" %>
<%= f.text_field :title %>
<%= f.submit 'Записать значение' %>
<% end %>
<br/><br/>
<span style="color: #4169E1;">Список текущих групп</span>
<pre style="height: 200px; width: 100%; overflow: auto; border: solid 1px black;">
<% @allGroup.each do |n| %>
<br/>
<%= n.title %>
<%= link_to 'Удалить', 
{ :action => :destroy, :controller=>"groups", 
  :id => n.id }, :method => :delete, :confirm => 'Вы уверены?' %>
<% end %>
</pre>
<br/><br/>
<br/><br/>

<%= form_for Lesson.new do |f| %>
<%= f.label "Добавить предмет" %>
<%= f.text_field :title %>
<%= f.submit 'Записать значение' %>
<% end %>
<br/><br/>
<span style="color: #4169E1;">Список текущих предметов</span>
<pre style="height: 200px; width: 100%; overflow: auto; border: solid 1px black;">
<% @allLesson.each do |n| %>
<br/>
<%= n.title %>
<%= link_to 'Удалить', 
{ :action => :destroy, :controller=>"lessons", 
  :id => n.id }, :method => :delete, :confirm => 'Вы уверены?' %>
<% end %>
</pre>
<br/><br/>

<br/><br/>

<%= form_for Lecturer.new do |f| %>
<%= f.label "Добавить преподователя" %>
<%= f.text_field :name %>
<%= f.submit 'Записать значение' %>
<% end %>
<br/><br/>
<span style="color: #4169E1;">Список текущих преподователей</span>
<pre style="height: 200px; width: 100%; overflow: auto; border: solid 1px black;">
<% @allLecturer.each do |n| %>
<br/>
<%= n.name %>
<%= link_to 'Удалить', 
{ :action => :destroy, :controller=>"lecturers", 
  :id => n.id }, :method => :delete, :confirm => 'Вы уверены?' %>
<% end %>
</pre>
<br/><br/>