<%= form_for :news, :url => { :action => :update, :id => @news.id },
:method => :put do |f| %>
  <% if @news.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@news.errors.count, "error") %> prohibited
        this news from being saved:</h2>
    <ul>
    <% @news.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  Title:<br>
<%= f.text_field :title %><br>
Photo:<br>
<%= f.file_field :picture %><br>
Text:<br>
<%= f.text_area :text%>
<%= f.submit 'сохранить' %>
  </p>
<% end %>
 
<%= link_to 'Back', :action => :index %> 
