<%= form_for News.new do |f| %>
 <% if @news.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@news.errors.count, "error") %> prohibited
        this news from being saved:</h2>
    <ul>
    <% @news.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
Название новости:<br>
<%= f.text_field :title %><br>
Прикреплённая фотография:
<%= f.file_field :picture %><br>
Текст новости<br>
<%= f.text_area :text%><br>
<%= f.submit 'Сохранить' %><br><br>
<% end %>
