<% content_for :title do %>
  <%= (@photo_gallery ? @photo_gallery.title : 'Photo Albums') %> | <%= Spud::Core.site_name %>
<% end %>

<% content_for :head do %>
  
<% end %>

<h1>Фото галерея</h1><br

<% if Spud::Photos.galleries_enabled %>
  <p><%= link_to 'Back to Galleries', photo_galleries_path %></p>
<% end %>

<div id="spud_photo_albums">
  <table border='0'>
    <tr>
     <% @a=0 %>
     <% @b=false %>
  <% @photo_albums.each do |album| %>
    <% @a=@a+1 %>
    <td>
      <a href="<%=photo_album_path(album.url_name)%>">
      <div class="spud_photo_album_thumbnail">
        <figure class="imgteaser" style="background: url('<%=album.top_photo_url(:medium)%>');">
          <figcaption><strong><%= album.title %></strong></figcaption>
        </figure>
      </div>
    </a>
    </td>
    <%if @a==3%>
     <% @a=0 %>
     <% @b=true %>
    </tr><tr>
    <%end%>
  <% end %>
<%if @b&&@a!=0%>
<% while @a!=3%>
<%@a=@a+1%>
<td>s
</td>
<%end%>
<% end %>
</tr>
</table>
</div>