<div style="text-align: right;">


<% if user_signed_in? %>
	<%= link_to "Создать альбом", new_album_path %>	
<% else %>
	Для того чтобы создать альбом вам необходимо зайти на сайт
<%end%>


</div>

 
<%= will_paginate %> 

<% @albums.each do |albums| %>
  	<h1><center><%= link_to albums.title, albums %></center></h1>

  	<div style="float: right;">
  	<% if user_signed_in? %>
    <% if current_user.id==albums.user_id %> 
    <%= link_to 'Добавить фото', new_photo_path(:album_id => albums.id) %>
    <%= link_to 'Удалить', { :action => :destroy, :id => albums.id }, :method => :delete, 
    :confirm => 'Вы уверены?' %>
    <%end%>
    <%end%>
    </div>
    <div style="clear: both;"></div>
	<div id="photogaleleryIW">
		<%if defined? albums.photos.first.picture_file_size %>
    <%if albums.photos.first.picture_file_size != nil%> <%= image_tag albums.photos.first.picture %> 
    <%end%>
    <%end%>
	</div>
<% end %>

<%= will_paginate %>