<%=@theme.title%><br>
<%if @theme.post.last%>
<%= will_paginate%>

<% @theme.post.each do|t|%>
<table border="1" width="100%">
<tr>
<td rowspan="2"  width="150" align="center">
<%if t.user!=nil%><%= t.user.name+" "+t.user.surname%><%else%>Гость<%end%>
</td>
<td>
<%=t.text%>
</td>
</tr>
<tr bgcolor="#ffaaff">

<td>
Опубликовано: <%=t.created_at%>
<%if t.user==current_user || (current_user && current_user.role &&  current_user.role.can_admin_forum) %>
<% link_to "удалить",   :id=>t.id %>
<%= link_to 'удалить', { :action => :destroy, :id => t.id }, :method => :delete, :confirm => 'Are you sure?' %>
<%end%>
</td>
</tr>
</table>
<br>
<% end %>

<%= will_paginate  %>
<% end %>
<% if current_user && current_user.role &&  current_user.role.can_post_forum %>
<%= form_for Post.new do |f| %>

Сообщение:<br>
<%= f.hidden_field :theme_id, value: @theme.id %>
<%= f.text_area :text%>
<%= f.submit 'сохранить' %>
<% end %>
<% end %>
