<div>
<h1 style="color: #000; font-style: bolder;"><center>Файловое хранилище</center></h1>
<% if current_user && current_user.role && current_user.role.can_add_files%>
<%= link_to 'Создать', new_upload_path %>
<%end%>

<br>
<%= will_paginate  %>

<% @uploads.each do |n| %>
<table border='0' width='100%' bgcolor="#E6E6FA">
  <tr  height='20'>
    <th width='100' ></th>
    <td><%= link_to n.title, n.file.url %> </td>
    <th width='100' ></th>
  </tr>
  <tr height='20'>
    <td width='100' ></td>
    <td>Файл добавлен  <%=n.created_at %>
    <% if current_user && current_user.role &&  current_user.role.can_delete_files %>
    <%= link_to 'Destroy', { :action => :destroy, :id => n.id }, :method => :delete, :confirm => 'Are you sure?' %> <%end%></td>
    <td width='100' ></td>
  </tr>
</table> 
<br>
<% end %>
<%= will_paginate %>


</div>
