<!DOCTYPE html>
<html>
<head>
  <title><%= @TitleOfPage %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Don't remove this section!!! -->
  		<!-- Arthur Yakovlev Asgard 2012 -->
  		<!-- http://www.allcomputers.16mb.com/ -->
  <!-- End -->
  
  <script type="text/javascript">

  </script>

</head>
<body>

<div id="wrapper">

	<div id="header">

		<div id="titleOfCollege">
			Kharkiv Computer and Technology College
		</div>

		<div id="linkHeaderBar">
			<% if user_signed_in? %>
			<%= current_user.email %>
			&nbsp;&nbsp;
			<%=link_to 'Выйти', "sign_out"%>
			<% else %>
			<%=link_to 'Войти', "log_in"%>
			&nbsp;&nbsp;
			<%=link_to 'Регистрация', "sign_up"%>
			
			
			<%end%>
			&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="">en</a>
			<a href="">ru</a>
			<a href="">ua</a>

			<br/>
			<br/>
			<div id="homeSearch"> 
				<input type="text" value="Введите текст для поиска" onfocus="this.value='';" onblur="if (this.value != '') {this.onfocus = function(){};} else this.value='Введите текст для поиска';"
				style="width: 200px;"/>
				<input type="button" value="Найти">
			</div>
		</div>

		<div style="clear: both;"></div>

	</div>

	<div id="menuLink">

		<center>
		<ul id="menuLinkList">
			<li><%= link_to "Главная",            root_path %></li>
			<li><%= link_to "Новости", 			  news_index_path %></li>
			<li><%= link_to "Афиша", 			  "#" %></li>
			<li><%= link_to "Форум", 			  "#" %></li>
			<li><%= link_to "Фотогалерея",        albums_index_path %></li>
			<li><%= link_to "Абитуриентам",       "#" %></li>
			<li><%= link_to "Файловое хранилище", "#" %></li>
		</ul>
		</center>

	</div>

	<div id="content">
		<%= yield %> 
	</div>

	<div id="footer">
		<center>
			2012<br/>
			Эдуард Рубин, Павел Обод, <a href="http://allcomputers.16mb.com/" target="_blank">Arthur Yakovlev (Asgard)</a>, Никита Грицюк,<br/> Сергей Бугаенко, Богдан Шкляр, Андрей Медведенко, 
			Олег Пащенко, Алексей Тарасов, Оксана Душенковская.
			
		</center>	
	</div>

</div>

</body>
</html>
