<%@Photo1 = Album.all%>
<!DOCTYPE html>
<html>
<head>
<title><%= @TitleOfPage %></title>

<%= stylesheet_link_tag"application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="head">
    <div class="wrap">
      <center><h1><%= image_tag root_path+"1.jpg"%></h1></center>
    </div>
  </div>

    <div class="wrap" >

            <ul id="nav">
              <li><%= link_to "Новости", news_index_path %></li>
              <li><%= link_to "О колледже", "#" %>
                <ul>
                  <li><%= link_to "История", root_path+"content/"+"2" %></li>
                  <li><%= link_to "Цели и задачи", root_path+"content/"+"3" %></li>
                  <li><%= link_to "Руководство", root_path+"content/"+"4" %></li>
                  <!--<li><%= link_to "Преподавательский состав", root_path+"content/"+"5" %></li>-->
                  <li><%= link_to "Перечень специальностей", root_path+"content/"+"6" %></li>
                  <li><%= link_to "Краткое описание дисциплин", root_path+"content/"+"7" %></li>
                  <li><%= link_to "Практика студентов", root_path+"content/"+"8" %></li>
                  <li><%= link_to "Общежития", root_path+"content/"+"9" %></li>
                  <li><%= link_to "Профком", root_path+"content/"+"10" %></li>
                </ul>
              </li>
              <li><%= link_to "Абитуриенту", "#"%>
                <ul>
                  <li><%= link_to "Правила приема", root_path+"content/"+"12" %></li>
                  <li><%= link_to "Приемная комиссия", root_path+"content/"+"13" %></li>
                  <li><%= link_to "Документы", root_path+"content/"+"14" %></li>
                  <li><%= link_to "Оформить заявление", root_path+"content/"+"15" %></li>
                </ul>
              </li>
              <li><%= link_to "Учебные материалы", uploads_path%></li>
              <li><%= link_to "Pасписание", schedule_path %></li>
              <li><%= link_to "Форум", forum_path %></li>
              <li><%= link_to "Партнёры", partners_path %></li>
              <li><%= link_to "Контакты", contacts_path %></li>
              <% if user_signed_in? %>
                <li><%=link_to ("Здравствуйте, "+ current_user.name+ ' ' + current_user.surname+", нажмите тут чтобы выйти"), destroy_user_session_path, :method => :delete %></li>
              <% else %>
                
                <li><%=link_to "Регистрация", sign_up_path %></li>
                <li> <a style="cursor: pointer;"onclick="document.getElementById('parent_popup').style.display='block';">Войти</a></li>
                
               
              <%end%> 
            </ul> 

  
  <!--<% if url_for(params)=="/news" %>
    <center>
     <!-- <div id="photoWrapper">
        <table id="photoTable">
          <tr>
            <td id="photoNext">
            <!--<a style="cursor: pointer;" onclick="BackSlide()">&lt;</a>!
            </td>
            <td id="photoPhoto">
              <center><img id="LAPhoto" src="" width='320' height='240'/></center>
              <script type="text/javascript">GoSlide();</script>
            </td>
            <td id="photoNext">
              <!--<a style="cursor: pointer;" onclick="ForwardSlide()">&gt;</a>!
            </td>
          </tr>
        </table>
      </div>
    </center>
    <div id="BottMenu"></div>
  <% end %>-->
  </div>
  <div id="content">
  <br>
    <center>
      <%= yield %>
    </center>
    <br>
  </div>

  <div id="footer">
    <center>Харьковский компьютерно-технологический колледж НТУ "ХПИ" 1947 - <%= Time.now.year %></center>
    <center>Контакты: (057) 707-68-75, (057) 707-68-37, (057) 707-67-39, info@ct-college.com.ua
    <a href="http://vk.com/kharkivcollege" target="_blank">
      <%= image_tag root_path+"vk.png", :width=>25, :height=>25%>
    </a>
    <a href="https://www.facebook.com/KharkivCollege" target="_blank">
      <%= image_tag root_path+"fb.png", :width=>25, :height=>25%>
    </a>
    </center>
   <center>
      Разработчики:Павел Обод, Оксана Душенковская, Никита Грицюк, Андрей Медведенко, Сергей Бугаенко, Arthur Yakovlev
    </center>
   
  </div>
<%if !current_user %>
 <div id="parent_popup">
    <div id="popup">
      Форма входа
      <%= form_for("user", :url => user_session_path) do |f| %>
	e-mail:<br>
	<%= f.text_field :email %><br>
	Пароль:<br>
	<%= f.password_field :password %><br>
	<%= f.check_box :remember_me %>Запомнить меня:<br>  
	<%= f.submit 'Войти' %><br>
	<p style="cursor: pointer;" onclick="document.getElementById('parent_popup').style.display='none';">Отмена</p>
      <% end %>  
    </div>
  </div>
 <% end %>  
</body>
</html>

